$ligthblue: lightblue;
$ligthsalmon: lightsalmon;
$lightgoldenrodyellow: lightgoldenrodyellow;

.destinoBACE{
	min-height: auto vh;
    background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
    color: blue;
    font-weight: bold;
	text-decoration: none;
	list-style-type: none;
	font-size: 18px;
	font-family: 'Yomogi'; 
	border: 1px solid $lightgoldenrodyellow;
	text-align: center;
	margin: 2%;
	padding: 20px;
    .destinoBACE1{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE2{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE3{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE4{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE5{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE6{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE7{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE8{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE9{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE10{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE11{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE12{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
	.destinoBACE13{
		display: none;
		background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
		font-size: 15px;
		
		}
		.destinoBACE14{
		display: none;
		background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
		font-size: 15px;
		width: 100%;
		}
		.destinoBACE15{
		display: none;
		background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
		font-size: 15px;
		width: 100%;
		}
		.destinoBACE16{
		display: none;
		background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
		font-size: 15px;
		width: 100%;
		}
		.destinoBACE17{
		display: none;
		background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
		font-size: 15px;
		width: 100%;
		}
		.destinoBACE18{
		display: none;
		background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
		font-size: 15px;
		width: 100%;
		
		}
    .destinoBACE19{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE20{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE21{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE22{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE23{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
    .destinoBACE24{
    display: none;
	background-image: linear-gradient(to top, $ligthsalmon 30% , gray);
	font-size: 20px;
    }
}
.destinoBACE:hover > .destinoBACE1{ 
	display: block;}

.destinoBACE:hover > .destinoBACE2{ 
	display: block;}

.destinoBACE:hover > .destinoBACE3{ 
	display: block;}

.destinoBACE:hover > .destinoBACE4{ 
	display: block;}

.destinoBACE:hover > .destinoBACE5{ 
	display: block;}			
.destinoBACE:hover > .destinoBACE6{ 
	display: block;}

.destinoBACE:hover > .destinoBACE7{ 
	display: block;}

.destinoBACE:hover > .destinoBACE8{ 
	display: block;}

.destinoBACE:hover > .destinoBACE9{ 
	display: block;}

.destinoBACE:hover > .destinoBACE10{ 
	display: block;}

.destinoBACE:hover > .destinoBACE11{ 
	display: block;}			
.destinoBACE:hover > .destinoBACE12{ 
	display: block;}


.destinoBACE:hover > .destinoBACE13{ 
	display: block;}

.destinoBACE:hover > .destinoBACE14{ 
	display: block;}

.destinoBACE:hover > .destinoBACE15{ 
	display: block;}

.destinoBACE:hover > .destinoBACE16{ 
	display: block;}

.destinoBACE:hover > .destinoBACE17{ 
	display: block;}			
.destinoBACE:hover > .destinoBACE18{ 
	display: block;}

$base-color: blue;

@for $in from 1 to 6 {

	.bucle-#{$in} {
		width: 100px *$in;
		height: 200px;
		border: 2px solid burlywood;
	}
}





/*.div--destinoEUROPA{
	border: none;
	display: grid;
	grid-template-columns: 40% 40% ;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 50px ;
	grid-column-gap: 2%;
}*/
.div--destinoCARIBE{
	border: none;
	display: grid;
	grid-template-columns: 40% 40% ;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 50px ;
	grid-column-gap: 2%;
}
.div--destinoBRASIL{
	border: none;
	display: grid;
	grid-template-columns: 40% 40% ;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 50px ;
	grid-column-gap: 2%;
}
.div--destinoARG{
	display: grid;
	grid-template-columns: 40% 40% ;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 50px ;
	grid-column-gap: 2%;
}